<div class="data-filters-class">
  <div>
    <p-checkbox
      [(ngModel)]="isAlphabeticalSorting"
      inputId="alphabetical-sorting"
      (onChange)="onChange()"
      size="large"
      binary="true"
    />
    <label for="alphabetical-sorting">Sort Categories</label>
  </div>
  <div>
    <p-checkbox
      [(ngModel)]="isMinValueHide"
      inputId="min-value-hide"
      (onChange)="onChange()"
      size="large"
      binary="true"
    />
    <label for="min-value-hide">Exclude Minimum</label>
  </div>
</div>
