<p-table
  [value]="files"
  [size]="'small'"
  showGridlines="true"
  stripedRows="true"
  [tableStyle]="{ width: '100%' }"
  selectionMode="single"
  [(selection)]="selectedFile"
  [metaKeySelection]="true"
  dataKey="dataFileId"
  (onRowSelect)="onRowSelect($event)"
>
  <ng-template #header>
    <tr>
      <th>ID</th>
      <th>File</th>
      <th>Date</th>
    </tr>
  </ng-template>
  <ng-template #body let-file>
    <tr [pSelectableRow]="file">
      <td>{{ file.dataFileId }}</td>
      <td>{{ file.fileName }}</td>
      <td>{{ file.uploadDate }}</td>
    </tr>
  </ng-template>
</p-table>
