@import "primeicons/primeicons.css";

:root {
  --elem-padding: 8px;
  --p-menubar-item-focus-background: #fff;
  --p-menubar-item-focus-color: #000;
}

html,
body {
  margin: 0;
  font-family: Helvetica, Arial, sans-serif;
  user-select: none;
}

body {
  padding: var(--elem-padding);
}

.p-overflow-hidden {
  padding-right: var(--elem-padding) !important;
}

.p-card {
  margin-top: var(--elem-padding);
}

.p-button {
  align-items: baseline;
}